<!doctype html>
<html lang="en">
  <head>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
    <body>
        <div class="alert alert-success" role="alert" style="background-color:#F0F0F0">
            <h2 class="alert-heading" >Quick Sort</h2>
          <p>Complexity:O(n log n)
            <hr>

        </div>
        <div style="margin-left: 50px">
            <p class="mb-0"><h3>Input to Sort</h3> </p>
            <form action = "{% url 'sort' %}" >
                Write the elements to sort: <input type="text" name="sort_input">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </body>
</html>