<!doctype html>
<html lang="en">
  <head>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
    <body>


        <div class="alert alert-success" role="alert" style="background-color:	#F0F0F0">
            <h3 class="alert-heading" >BINARY SEARCH TREE</h3>
          <p>Binary Search Tree is a node-based binary tree data structure which has the following properties:
            <ul>
                <li>The left subtree of a node contains only nodes with keys lesser than the node’s key.</li>
                <li>The right subtree of a node contains only nodes with keys greater than the node’s key.</li>
                <li>The left and right subtree each must also be a binary search tree.</li>
            </ul>
            <hr>

        </div>

            <div style="margin-left: 50px">
                <p class="mb-0"><h3>Input for Tree</h3> </p>
                <form action = "{% url 'tree1' %}">

                    Write the nodes: <input type="text" name="tree_input">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
    </body>
</html>